@font-face {
  font-family: LuckiestGuy;
  src: url("./img/5.Font/LuckiestGuy-Regular.ttf");
}

@font-face {
  font-family: MightySoul;
  src: url("./img/5.Font/MightySouly-lxggD.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "LuckiestGuy", "MightSoul", "Arial", "Helvetica", "sans-serif";
}

p {
  text-shadow: 1px -1px black;
  font-size: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  text-shadow: 1px -1px black;
  color: #ffd700;
}

ul,li,em {
  font-size: 1rem;
  text-shadow: 1px -1px black;
  font-family: sans-serif;
}

a {
  color: #ffd700;
}

html {
  height: -webkit-fill-available;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/7.landscapeSea/view-underwater-sea-life-cartoon-style.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  font-family: "MightySoul", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.35rem;
  text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100vh;
}

canvas {
  background-color: black;
  width: 100%;
  /* height: 100%; */
}

button:hover {
  cursor: pointer;
}

button:active {
  border-color: grey;
}

.headline {
  font-size: 4rem;
  padding-bottom: 4rem;
}

.canvas-Container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 1024px;
  height: 600px;
}

.common-container {
  content-visibility: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 1rem 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.win-container {
  display: none;
  z-index: 9999;
  justify-content: flex-end;
  gap: 2rem;
  background-image: url(./img/6.Botones/Tittles/YouWin/Mesa\ de\ trabajo\ 1.png);
  background-position: center;
}

.lose-container{
  display: none;
  z-index: 9999;
  justify-content: flex-end;
  background-size: contain;
  background-image: url(./img/6.Botones/Tittles/GameOver/Recurso\ 11.png);
  background-position: center;
}

/* Updated specific classes */
.imprint-container {
  color: #ffd700;
  padding-left: 2rem;
  background-image: url(./img/11.Imprint/imprintBackground.webp);
  & h2 {
    text-align: center;
  }
  & p {
    display: flex;
    padding-top: 1rem;
    width: 80%;
    font-size: 1rem;
    align-items: start;
    /* font-family: LuckiestGuy; */
  }
}

.data-privacy-container {
  background-image: url(./img/10.DataPrivacy/dataPrivacy.webp);
  & h2 {
    color: #ffd700;
  }
  & p {
    display: flex;
    width: 80%;
    font-size: 1rem;
    align-items: center;
    height: 100%;
    filter: drop-shadow(2px 4px 6px black);
  } & em{
    filter: drop-shadow(2px 4px 6px black);
  } & a {
    font-family: sans-serif;
  }
}

.joke{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
  padding: 0rem 2rem 0rem 2rem;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  & p {
    color: #ffd700;
    font-family: "LuckiestGuy";
    font-weight: bold;
  }
}


.desktop-experience{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
  padding: 0rem 2rem 0rem 2rem;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  & p {
    color: #ffd700;
    font-family: "LuckiestGuy";
    font-weight: bold;
  }
}


.rotate-your-phone{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
  top: 0px;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  & p {
    color: #ffd700;
    font-family: "LuckiestGuy";
    font-weight: bold;
  } & img {
    width: 5rem;
    height: 5rem;
    animation: rotate90 3s infinite alternate ease-in-out;
  }

}
@keyframes rotate90{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.data-privacy {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  & p {
    font-family: sans-serif;
  }
}

.startImage {
  content-visibility: auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/ShipUnderWater/shipUnderWater.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* & img {
    width: 100%;
    height: 100%;
  } */
}

.story-container {
  background-image: url(./img/9.storyImage/storyImage.webp);
  & h2 {
    color: #ffd700;
  }
  & p {
    display: flex;
    color: #ffd700;
    font-size: 1rem;
    align-items: center;
    /* font-family: LuckiestGuy; */
  }
}

.story-text{
  height: 100%;
  overflow-y: auto;
  padding: 10rem 3.5rem 0rem 3.5rem;
}

.info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/9.storyImage/storyImage.webp);
  height: 100%;
  color: #ffd700;
}

.info{
  text-align: center;
  height: 60%;
}

.info-text{
  height: 100%;
  font-family: LuckiestGuy;
}

.controls-container {
  background-image: url(./img/12.Controls/controlsBackground.webp);
  color: #ffd700;
}

.web-controls {
  width: 100%;
  height: 100%;
}

.mobile-controls {
  width: 100%;
  height: 100%;
  & img {
    width: 40px;
    height: 40px;
  }
  & p {
    display: flex;
    align-items: center;
  }
}

.standard-Button {
  background-color: #531a82;
  color: white;
  max-width: 380px;
  padding: 0px 32px 0px 32px;
  font-size: clamp(1.5rem, 5vw, 3rem);
  border: 4px solid white;
  border-radius: 32px;
  /* font-family: LuckiestGuy; */
}

.imprint {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: baseline;
  & p {
    font-family: sans-serif;
  }
}

.police-Button {
  background-color: #531a82;
  color: white;
  max-width: 380px;
  padding: 0px 32px 0px 32px;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  border: 4px solid white;
  border-radius: 32px;
  /* font-family: LuckiestGuy; */
}

.startScreen {
  content-visibility: auto;
  position: absolute;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  top: 0;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.container-right {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 1rem;
  gap: 2rem;
}

.shoot {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  right: 100px;
  bottom: 75px;
  width: 50px;
  height: 50px;
  &:focus {
    outline: none;
  }
  & img {
    width: 50px;
    height: 50px;
  }
}

.fin-slap {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  right: 150px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  &:focus {
    outline: none;
  }
  & img {
    border-radius: 1rem;
    width: 50px;
    height: 50px;
  }
}


.ingame-button{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  z-index: 999;
  width: clamp(24px, 4vw, 36px);
  height: clamp(24px, 4vw, 36px);
  border-radius: 1rem;
  background-color: mintcream;
  filter: drop-shadow(2px 4px 6px black);
  &:focus {
    outline: none;
  }
  & img {
    width: clamp(1rem, 2vw, 1.5rem);
    height: clamp(1rem, 2vw, 1.5rem);
  }

}
.sound-button {
  right: 47%;
  top: 1rem;
}

.pause-button {
  right: 53%;
  top: 1rem;
}

@media only screen and (max-width: 1024px) {
  .canvas-Container {
    width: 100vw;
    height: unset;
    margin: 0;
  }
  canvas {
    width: 100%;
    margin: 0;
  }
  .controlKeys {
    display: none;
  }
  h1 {
    display: none;
  }
}

@media (max-width: 1024px) and (orientation: portrait) and (any-pointer: coarse){
  .rotate-your-phone{
    display: flex;
  }
}

@media (orientation: landscape) and (any-pointer:coarse){
  .fin-slap{
    display: flex;
  }
  .shoot{
    display: flex;
  }
}

@media (min-width:300px) and (max-width: 600px) and (min-height: 865px) and (any-pointer: fine){
  .desktop-experience{
    display: flex;
  }
}

@media (max-width:300px){

  .standard-Button{
    display: none;
  }
  .police-Button{
    display: none;
  }
}

@media (min-width:250px) and (max-width:300px){
  .joke{
    display: flex;
  }
}

@media only screen and (max-height: 600px) {
  *{
    font-family: MightySoul;
  }
  body {
    height: 90vh;
    background-color: black;
  }
  .canvas-Container {
    height: 100%;
  }
  canvas {
    height: 100%;
  }
  .info-text{
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .info-container{
    justify-content: unset;
    overflow-y: auto;
  }
  .story-text{
  padding: 4rem 3.5rem 1rem 3.5rem;
  }
}


* {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ffd700;
  --sb-size: 8px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}