@font-face {
  font-family: LuckiestGuy;
  src: url("./img/5.Font/LuckiestGuy-Regular.ttf");
}

@font-face {
  font-family: MightySoul;
  src: url("./img/5.Font/MightySouly-lxggD.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

html{
  height: -webkit-fill-available;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/7.landscapeSea/view-underwater-sea-life-cartoon-style.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  font-family: "MightySoul", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.35rem;
  text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100vh;
}

canvas {
  background-color: black;
  width: 100%;
  /* height: 100%; */
}

button:hover{
  cursor: pointer;
}

button:active{
  border-color: grey;
}

.headline{
  font-size: 4rem;
  padding-bottom: 4rem;
}

.canvas-Container{
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 1024px;
  height: 600px;
}

.data-privacy-container{
  content-visibility: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  background-image: url(./img/9.storyImage/storyImage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  & h1{
    padding-top: 2rem;
    color: #FFD700;
  }  
  & p{
      display: flex;
      width: 80%;
      color: #FFD700;
      font-size: 1rem;
      align-items: center;
      height: 100%;
      padding: 5rem 3.5rem 0rem 3.5rem;
      font-family: LuckiestGuy;
      text-shadow: none;
    }
  background-image: url(./img/10.DataPrivacy/dataPrivacy.webp);
}

.startImage{
  content-visibility: auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/ShipUnderWater/shipUnderWater.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* & img{
    width: 100%;
    height: 100%;
  } */
  
}

.story-container{
  content-visibility: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  background-image: url(./img/9.storyImage/storyImage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  & h1{
    padding-top: 2rem;
    color: #FFD700;
  }  
  & p{
      display: flex;
      width: 80%;
      color: #FFD700;
      font-size: 1rem;
      align-items: center;
      height: 100%;
      padding: 5rem 3.5rem 0rem 3.5rem;
      font-family: LuckiestGuy;
      text-shadow: none;
    }
}

.standard-Button{
  background-color: #531a82;
  color: white;
  max-width: 380px;
  padding: 0px 32px;  
  font-size: clamp(1.5rem, 5vw, 3rem);
  border: 4px solid white;
  border-radius: 32px;
  font-family: LuckiestGuy;
}

.police-Button{
  background-color: #531a82;
  color: white;
  max-width: 380px;
  padding: 0px 32px;  
  font-size: clamp(0.5rem, 2vw,1.5rem);
  border: 4px solid white;
  border-radius: 32px;
  font-family: LuckiestGuy;
}

.startScreen{
  content-visibility: auto;
  position: absolute;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  top: 0;
}

.left-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.container-right{
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 1rem;
  gap: 2rem;
}

.shoot{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  right:100px;
  bottom: 75px;
  width: 50px;
  height: 50px;
    &:focus{
    outline: none;
  }
   & img {
    width: 50px;
    height: 50px;
   }
}

@media only screen and (max-width: 1024px) {
  .canvas-Container {
    width: 100vw;
    height: unset;
    margin: 0;
  }
  canvas{
    width: 100%;
    margin: 0;
  }
  .controlKeys {
    display: none;
  }
  h1 {
    display: none;
  }
  body{
    background-image: none;
    background-color: black;
  }
}

@media only screen and (max-height: 600px) {
  body{
    height: 90vh;
  }
  .canvas-Container {
    height: 100%;
  }
  canvas{
    height: 100%;
  }
}
